/* common-shared-style */

body{
    font-family: 'Open Sans', sans-serif;
    font-family:'lato',sans-serif;
}
.primary-btn{
    background-color:#FD6E0A;
     border:0;
    border-radius: 5px;
    font-size:15px;
    font-weight:500;
    color:white;
    padding:15px 35px;
}

.title{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
   
}
.description{
    color: #757575);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
/* nav style */

nav {
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin:0 200px;

}

.nav-title{
color: #181818;
font-size: 45px;
font-weight: 800;

}
.orange-primary{
    color:#FD6E0A
}
nav>ul{
    display:flex;
    align-items: center;
    
  
}
nav>ul>li{
    list-style:none;
    padding-right:51px;
    

}
nav>ul>li>a{
   text-decoration:none;
   color:#474747;
   
   
}
nav>ul>li>a:hover{
    background-color: gray;
    
}
.primary-btn{
    background-color:#FD6E0A;
     border:0;
    border-radius: 5px;
    font-size:15px;
    font-weight:500;
    color:white;
    padding:15px 35px;
}
.primary-btn:hover{
    cursor:pointer;
    background-color: gray;
    color:#FFF8F3
}

/* header related style */
.header{
    background-color:#FFF8F3;
    background-image: url('../images/header_bg.png'),url('../images/developer.png');
    background-position: bottom right,top left;
    /* background-image: url(images/developer.png); */
    /* background-position: top left; */
    background-repeat: no-repeat;
    
    
}
.banner-sec{
    padding:30px 30px 0px 150px;
    display:flex;
    justify-content:space-between;
    align-items: center;
}
.banner-text{
    max-width:500px;
}
.profile{
    width:500px;

}
.h3{
    font-size: 45px;
    color:#474747;
    margin-bottom:0px;

}
.h1{
    font-size: 85px;
    font-weight: 700;
    color:#181818;
    margin-top:5px;
    margin-bottom:20px;
}
.par{
    color:#757575;
    line-height:30px;
    font-size:18px;
    font-weight:400;
    margin-top:0px;

}

/* main-section */

main{
    max-width:1140px;
    margin:0 auto;
}

/* about-section */

.about{
    padding:130px;
    border-radius:10px;
    background-color: #FFF8F3;
    margin:130px;
}
.about-info-container{
    display:flex;
    justify-content:space-around;
}
.about-info{
    text-align:center;
    margin-right:20px;
}
.info-title{

    margin-bottom:0px;
    font-weight: normal;
}
.info-des{
    margin-top:5px;
    font-weight:bold;
}
/* what i do section */

#what{
    padding:30px 150px;
}

.skil{
    width:267px;
    height:377PX;
    background-color: #FFF;
    border-radius: 5px;
   box-shadow: 0px 6px 50px 0px;
   margin-right:30px;
}
.skil-section{
    display:flex;
    align-items: center;
    justify-content: space-around;
    margin-top:40px;
}
.logo{
    width: 49.926px;
height: 40.731px;
padding:30px;
}
.skil-title{
    padding:30px
    padding-bottom:2px;
    margin-left:30px;
}
.skil-des{
    padding:5px;
    padding-top:0;
    line-height:35px;
    margin-left:30px;
}

/* resume-section */
.container-box{
    display:flex;
    /* max-width:1500px; */
    justify-content:space-around;
    align-items:center;
    /* border:1px solid black; */
}
.resume-section{
    margin:150px;
    padding:30px;
}
.left-side{
    padding:50px;
    margin-right:50px;
}
.right-side{
    padding:50px;
    margin-left:px;

}
.urd{
    color:  #474747;

font-size: 25px;
font-weight: 700;
line-height: normal;
padding:5px;
margin-bottom:0px;

}
.uh{
    margin-top:2px;
    color:#474747;


}
.up{
color:#474747;
line-height:15px;
}

.lsh{
    color:  #474747;
}
.btn{
    text-align: center;
    margin-left:280px;
}

/* footer-section */
.main-containter{
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FFF8F3;
    font-size: 16px;
    height:350px;
}
/* mobile-view */
.hide{
    display:none;
}

@media screen and (max-width:576px){
    .skil-section,.container-box {
        flex-direction: column;
        gap:10px;
    }
    .title, .description{
        padding:0px;
        margin-top:50px;
    }
    .btn{
        margin:0 auto;
    }
    .main-containter{
        flex-direction: column;
        height:550px;

    }
    .connect{
        padding:20px;
    }
    
    .h3{
        text-align: center;
    }
    #what {
        padding: 30px 10px;
    }
    .resume-section {
        margin: 0px;
        padding: 30px;
}

.about {
    padding:10px;
    margin:0px;
    width:100%;
  
}
.about-info-container,.banner-sec,nav{
    flex-direction: column;
    gap:40px;
   
}
.header {
    background-image:none;
}
.profile{
    width:300px;
    padding-right:0px;
    
}
.banner-sec{
    margin-bottom:20px;

        padding:30px 30px 0px 40px;
}
.primary-btn{
    margin-bottom:5px;
}
.banner-text{
    padding:0px;
}
nav>ul{
    flex-direction: column;
    gap:30px;
   
}
}